# Build folders (en cualquier nivel)
**/bin/
**/obj/
**/TestResults/

# IDE
.vs/
.idea/
*.sln.iml

# Logs y temporales
*.log
logs/
Logs/
[Tt]emp/
*.tmp
*.temp

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.nugetprops
*.nuget.targets
packages/

# Config locales
appsettings.Development.json
appsettings.Local.json
.env

# Publicación
/out/
/publish/
/dist/

# OS
.DS_Store
Thumbs.db

# Backups
*.bak
*.old

# ReSharper
_ReSharper*/
*/_ReSharper*/
*.DotSettings.user

# Generados
wwwroot/lib/
node_modules/
